.link-div {
    background-color: #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 45px;
    text-align: center;
    width: 150px;
    text-decoration: none;
  }
  .fixed-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25%; /* veya istediğiniz genişlik */
    overflow-y: auto; /* Sayfa boyutu sabitlendiğinde kaydırma çubuğunu etkinleştir */
  }

